<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <h1>おみくじ</h1>

      <p class="fortune"><%= fortune %></p>

      <a href="/" class="btn">もう一度引く</a>
    </div>
  </body>
</html>
